@media screen and (max-width: 767px) {
    .row {
        margin: 0;
    }

    .one-eyecatch-row .eyecatch-column img {
        margin-top: 50px;
    }

    .total-eyecatch-row img {
        margin-top: 30px;
    }

    .suport-eyecatch-original {
        display: none;
    }

    .suport-eyecatch-square {
        display: inline;
    }

    .details-legends {
        padding-top: 16px;
    }

    .details-legends p {
        margin: 0px 16px 10px;
    }
}



@media screen and (min-width: 768px) {
    .eyecatch-column img {
        margin-bottom: 16px;
    }
}