/* ----------- General --------------- */
body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    color: #484848;
    line-height: 1.7em;
    padding-top: 50px;
    padding-bottom: 100px;
}

ul {
    padding: 0;
    margin-bottom: 0;
    list-style-position: inside;
    list-style: none;
}

h1, h2, h3 {
    font-weight: bold;
}

h2 {
    font-size: 40px;
    margin-bottom: 42px;
}

h3 {
    font-size: 24px;
    margin-bottom: 16px;
}

.row {
    margin: 0;
}

.site-main-contents > div {
    margin-bottom: 72px;
}

.row > div {
    margin-bottom: 22px;
}

.site-main-contents > div.breakline {
    margin-bottom: 0;
}

.site-main-contents > div.breakline::after {
    display: block;
    content: ".";
    font-size: 0;
    line-height: 0;
    width: 68px;
    margin-left: 17px;
    margin-bottom: 20px;
    border-bottom: 2px solid #767676;
}

p, .total-eyecatch-row img, .with-link-column a, .with-button-column button, .list-column li:last-child, .list-2-columns:last-child li:last-child {
    margin-bottom: 16px;
}

header, .row-eyecatch {
    display: none;
}



/* --------------- Header ---------------- */
svg {
    height: 34px; 
    width: 34px;
    fill: #008489;
}



/* ------------------ Main ------------------ */
.eyecatch-column img {
    width: 100%;
}

.with-link-column a, .with-button-column button {
    display: inline-block;
}

.suport-info-item li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.suport-info-item li:last-child {
    padding-bottom: 0;
}

.suport-eyecatch-square {
    display: none;
}

.statistics-data-data {
    font-size: 40px;
    line-height: 1em;
}

.statistics-data-legend {
    font-size: 14px;
}

.row .list-2-columns:first-child {
    margin-bottom: 0;
}

.qa-items-col li {
    padding: 18px 0;
    border-bottom: 1px solid #eee;
}

.details-item-card {
    display: flex;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    box-shadow: 1px 1px 3px #eee;
}

.details-item-card:hover {
    text-decoration: none;
}

.details-eyecatch img {
    width: 74px;
    height: 74px;
    object-fit: cover;
    border-radius: 2px 1px 1px 2px;
}

.details-legends {
    color: #484848;
    font-size: 14px;
    line-height: 1em;
}

.details-legends-title {
    font-weight: bold;
}

.bottom-eyecatch-area {
    max-width: 1280px;
    height: 275px;
    margin: 0 auto;
    background-image: url("images/dbe25d99-6821-4e02-802f-fcd7aaef85bc.jpg");
    background-position: center center;
    background-size: cover;
}

.bottom-eyecatch-area p {
    color: #fff;
    line-height: 1em;
    font-size: 38px;
    font-weight: bold;
    margin-top: 38px;
    margin-bottom: 20px;
}

.bottom-eyecatch-br {
    display: none;
}



/* --------------- Footer ---------------- */
.footer-navs-div {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f7f7f7;
}

.container-1280 {
    max-width: 1340px;
    margin: 0 auto;
}

/* nav bars */
.footer-navs-area {
    margin: 0;
    padding-top: 20px;
    font-size: 14px;
}

.footer-navs-area .footer-nav {
    align-content: flex-start;
}

.footer-navs-area h4 {
    margin: 6px 0 16px;
    font-size: 14px;
    font-weight: bold;
}

.footer-navs-area nav {
    padding: 0;
}

.footer-navs-area ul {
    padding: 0 0 20px;
}

.footer-navs-area li {
    padding: 6px 15px;
}

.footer-navs-area a {
    color: #343434;
}

.footer-navs-area a:hover {
    color: #727272;
}

.footer-nav:nth-child(-n+3)::after {
    content: '.';
    font-size: 0;
    width: 100%;
    height: 1px;
    margin: 0 15px;
    border-bottom: 1px solid #ccc;
} 